button {
  color: #000;
  margin-bottom: 1vh;
  margin-inline-start: 32vh;
  font-size: 2vh;
  padding: 3vh;
  right: 3vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 40px;
  text-align: center;
  font-size: x-large;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer span {
  margin-left: 5px;
  font-size: 12px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
}